boto3==1.4.7
botocore==1.7.29
certifi==2017.7.27.1
chardet==3.0.4
defusedxml==0.5.0
Django==1.11.5
django-allauth==0.33.0
django-cors-headers==2.1.0
django-extra-fields==0.9
django-rest-auth==0.9.1
django-storages==1.6.5
djangorestframework==3.6.4
docutils==0.14
graphene==2.0
graphene-django==2.0.0
graphql-core==2.0
graphql-relay==0.4.5
gunicorn==19.7.1
idna==2.6
iso8601==0.1.12
jmespath==0.9.3
oauthlib==2.0.4
olefile==0.44
Pillow==9.0.0
promise==2.1
psycopg2==2.7.3.1
python-dateutil==2.6.1
python3-openid==3.1.0
pytz==2017.2
requests==2.18.4
requests-oauthlib==0.8.0
Rx==1.6.0
s3transfer==0.1.11
singledispatch==3.4.0.3
six==1.11.0
typing==3.6.2
urllib3==1.22
